@tailwind base;
@tailwind components;
@tailwind utilities;

.inputs {
  position: relative;
  width: 75%;
  margin-top: 30px;
}

.inputs > input:nth-child(1) {
  width: 85%;
  padding: 13px 20px;
  border-radius: 6px;
  outline: 0;
  border: 2px solid #a3a3a3;
  background: #f7f7f71a;
  color: #333333;
  font-weight: 600;
  box-sizing: border-box;
}

.inputs > input:nth-child(1):focus {
  border-color: #b840ae;
}

.lists > a a:hover,
.lists > a:hover,
.place-link > a:hover {
  background: linear-gradient(
    91.47deg,
    #dc3e88 18.25%,
    #b840ae 43.34%,
    #843fe8 78.18%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}
